python-dotenv
fastapi
uvicorn
sqlmodel
python-multipart
openai
openai-whisper
phonemizer
pypinyin
piper-tts
glin-profanity
langchain
langchain-ollama
langchain-community
langgraph
PyJWT
mysql-connector-python
cose
cryptography
pyasn1
cbor2
pytest
